body{
    background-color: rgb(8, 8, 8);
}
h1{
    color: rgb(15, 211, 32);
    text-align: center;
    
}

table{
    position: absolute;
    
}
th, td {
    border: 1px solid white;
    border-collapse: collapse;
    color: aliceblue;
    padding: 10px;
    border-color: chartreuse;
  }